html {
    min-height: 100%;
    position: relative
}

body {
    color: #2d3c57;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 160px;
    overflow: auto !important;
    width: 100%
}

body.home {
    background: url(../img/documentation_bg.jpg) no-repeat center top 100px;
    background-attachment: fixed;
    background-size: cover
}

.doc-height {
    height: auto
}

.doc-list {
    background: hsla(0, 0%, 100%, .85);
    box-shadow: 0;
    padding: 30px;
    position: absolute;
    text-decoration: none
}

.doc-list h3 {
    color: #00a0e3;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0
}

.doc-list ul li a {
    font-weight: 300;
    margin: 0;
    padding: 0
}

.breadcrumb li:first-child {
    display: none
}

.blue, a {
    color: #00a0e3
}

.doc-description .doc-panel ul, .doc-list ul {
    margin: 0;
    padding-left: 15px
}

.doc-description .doc-panel ul li, .doc-list ul li {
    list-style-image: url(../img/ic_list_1.png);
    margin-bottom: 5px
}

.doc-description .doc-panel ul li a:hover, .doc-list ul li a:hover {
    color: #00a0e3;
    text-decoration: none
}

.logo {
    display: block;
    margin-top: -18px;
    width: 120px
}

.navbar {
    background: #fff !important;
    border: none !important;
    height: 90px;
    margin: 0;
    padding: 20px 0
}

.footer, .footer-2 {
    background-color: #002839
}

.footer-2 {
    background: #282928;
    bottom: 0;
    color: hsla(0, 0%, 100%, .25);
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
    min-height: 140px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    width: 100%
}

.doc-description .doc-panel {
    margin: 0 -15px 0 -30px;
    padding: 25px 35px
}

.doc-description .doc-panel ul {
    margin: 0;
    padding-left: 15px
}

.doc-description .doc-panel ul li {
    list-style-image: url(../img/ic_list_1.png);
    margin-bottom: 5px
}

.doc-description .doc-panel ul li a {
    color: #2d3c57;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0
}

.doc-description .doc-panel h2 {
    color: #00a0e3;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase
}

.doc-description h1 {
    color: #2d3c57;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 0
}

.doc-description p {
    color: #2d3c57;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    padding: 0
}

.doc-description .doc-info {
    border-right: 1px dashed #dadde4;
    padding: 25px 35px
}

.doc-description {
    background: #fff;
    border: 1px solid #dadde4;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 200px
}

.doc-description .btn-wrapper {
    margin-bottom: 10px
}

.doc-description .doc-panel {
    background: #f8f9fc;
    height: 100%
}

.btn-blue {
    background: #00a0e3;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: background .5s
}

.btn-blue, .btn-blue:hover {
    color: #fff;
    text-decoration: none
}

.btn-blue:hover {
    background: #007eb2
}

.blue {
    color: #00a0e3
}

.sticky-sidebar {
    background: red
}

.stuck-sidebar {
    background: green;
    display: block;
    position: fixed;
    top: 300px;
    width: 200px
}

.stuck-breadcrumb {
    background: #f3f5f9 !important;
    border-bottom: 1px solid #dadde4;
    border-top: 1px solid #dadde4;
    left: 0;
    padding: 9px 0;
    position: fixed;
    right: 0;
    top: 90px;
    z-index: 3
}

.footer-1 {
    background: #323332
}

.footer-2 .row {
    padding: 40px 0
}

.footer-2 a, .footer-2 p {
    color: hsla(0, 0%, 100%, .25);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1)
}

.footer-1 img, .footer-2 img {
    display: block;
    margin: 0 auto
}

.popover, body {
    font-family: Lato
}

.navbarul li a {
    color: #2d3c57 !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}

.navbarul li.active a, .navbarul li a:hover {
    color: #00a0e3 !important
}

.navbarul li.active a {
    background: transparent !important
}

.navbar-collapse {
    border: none !important
}

.navbar-search {
    margin-top: 19px
}

.breadcrumb {
    background-color: transparent;
    font-size: .7rem;
    margin: 0;
    padding: 0
}

.breadcrumb > li > a {
    text-transform: uppercase
}

.breadcrumb > li li {
    text-transform: none
}

.breadcrumb li {
    display: inline-block
}

.breadcrumb li:after {
    content: "/\00a0";
    margin: 3px
}

.breadcrumb li:last-child:after {
    content: none
}

.breadcrumb > li + li:before {
    content: none;
    padding: 0
}

.breadcrumb .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0
}

.breadcrumb .dropdown-menu li:first-child {
    display: block
}

.breadcrumb .dropdown-menu li {
    display: block;
    margin-bottom: .2em
}

.breadcrumb .dropdown-menu li:after {
    content: none;
    margin: 0
}

.breadcrumb li.dropdown:before {
    content: none;
    display: none;
    padding: 0
}

.breadcrumb li:first-child, a[aria-expanded=false] .fa-angle-up, a[aria-expanded=true] .fa-angle-down {
    display: none
}

.doc-description .doc-panel ul li a:hover, oc-list ul li a:hover {
    color: #00a0e3;
    text-decoration: none
}

#documentation-header {
    padding-top: 150px
}

.documentation-main-title {
    color: #2d3c57;
    margin-bottom: 70px;
    padding-top: 100px;
    text-align: center
}

.pinBoot {
    max-width: 100%;
    position: relative;
    width: 100%
}

.white-panel img {
    display: block;
    height: auto;
    margin: 0 auto 30px
}

.white-panel {
    background: hsla(0, 0%, 100%, .85);
    border: 1px solid #e4e6eb;
    box-shadow: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    display: block;
    padding: 30px;
    position: relative;
    text-decoration: none;
    transition: box-shadow .25s
}

.white-panel:hover {
    background: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1)
}

.white-panel h1 {
    font-size: 1em
}

.white-panel h1 a {
    color: #a92733
}

.white-panel ul li {
    font-weight: 400;
    list-style: none;
    padding: 0
}

.pinBoot ul, .white-panel ul {
    border-top: 1px solid #eee;
    list-style: none;
    margin: 15px 0 0;
    padding: 15px 0 0
}

.pinBoot ul li, .white-panel ul li {
    font-size: 17px
}

.pinBoot ul li a:hover, .white-panel ul li a:hover {
    color: #00a0e3;
    text-decoration: none
}

.pinBoot ul li ul, .white-panel ul li ul {
    border: none;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0
}

.pinBoot ul li ul li, .white-panel ul li ul li {
    color: #2d3c57;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 5px auto;
    position: relative
}

.pinBoot ul li ul li a:hover, .white-panel ul li ul li a:hover {
    color: #00a0e3
}

#main-card-segmented li a {
    color: #2d3c57;
    font-size: 14px;
    padding: 5px
}

#main-card-segmented {
    display: block;
    margin: 0 auto
}

#sidebar ul ul {
    list-style-type: none
}

.navbar-fixed-top {
    background-color: #fff;
    box-shadow: 0 2px 0 0 hsla(0, 0%, 86%, .1);
    height: 90px
}

.version-switcher label {
    color: #00a0e3;
    margin: 0;
    text-transform: uppercase
}

.version-switcher select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: url(../img/version_dropdown.png) no-repeat 0 0;
    background-position: 100%;
    border: none;
    color: #2d3c57;
    display: block;
    font-size: 26px;
    margin: 0;
    outline: none;
    padding-right: 20px;
    position: relative;
    text-decoration: none
}

.version-switcher {
    display: inline-block;
    padding: 10px 20px
}

.action-wrapper {
    border: 1px solid #dadde4;
    float: right;
    margin: 0 0 10px;
    padding: 0;
    width: auto
}

.action-buttons {
    border-left: 1px dashed #dadde4;
    display: inline-block;
    text-align: center
}

.action-buttons i {
    display: block
}

.action-btn img {
    margin-right: 10px
}

.action-btn span {
    color: #606060;
    font-size: 13px
}

.action-btn:hover span {
    color: #2d3c57;
    text-decoration: none
}

.action-btn {
    padding: 10px;
    width: 100%
}

.minor-version-tabs li {
    float: right;
    margin-left: 5px
}

ul.minor-version-tabs {
    padding-right: 10px
}

.minor-version-tabs li a:hover {
    background: #f5f5f5
}

.minor-version-tabs li a {
    background: url(../img/pattern1.png) repeat 0 0;
    border: 1px solid #dadde4;
    border-bottom: none;
    border-radius: 0;
    color: #2d3c57;
    font-size: 14px;
    padding: 5px 15px;
    transition: background .3s
}

.minor-version-tabs .tab-pane {
    border: 1px solid #dadde4;
    border-top: none;
    margin-bottom: 20px;
    padding: 20px
}

.minor-version-tabs h3 {
    margin: 0
}

.role-wrapper div {
    margin: auto 2px
}

.role-wrapper div:first-child {
    margin-left: 0;
    margin-right: 2px
}

.role-wrapper div:last-child {
    margin-left: 2px;
    margin-right: 0
}

.documentation-header .readingTime {
    color: #ccc;
    display: none;
    font-size: 14px
}

.documentation-header .readingTime .eta {
    display: inline
}

.role {
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase
}

.role, .role-marketers {
    background: #54b1ed;
    border: 1px solid #0d6ca9;
    color: #fff
}

.documentation-header {
    padding: 0
}

.navbuttons {
    margin-bottom: 35px
}

.child-actions {
    text-align: center
}

.child-actions a {
    display: inline-block;
    margin: 6px 20px
}

.main-title.doc-child {
    color: #2d3c57;
    font-size: 30px
}

.author.doc-child {
    color: #00a0e3;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px
}

.cke_inner .title.doc-child {
    margin-top: -172px
}

.title.doc-child {
    color: #2d3c57;
    font-size: 24px;
    margin-bottom: 20px
}

.subtitle.doc-child {
    color: #00a0e3;
    font-size: 20px;
    margin-bottom: 10px
}

p.doc-child {
    color: #2d3c57;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px
}

ol.doc-child {
    list-style: none;
    margin-bottom: 30px;
    padding: 0
}

ol.doc-child li {
    color: #2d3c57;
    counter-increment: a;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0 10px 50px;
    text-indent: -50px
}

ol.doc-child li:before {
    background-color: #00a0e3;
    border-radius: 20px;
    color: #fff;
    content: counter(a);
    font-size: 15px;
    font-weight: 300;
    margin-right: 25px;
    padding: 3px 8px
}

ul.doc-child {
    list-style: none;
    margin-bottom: 30px;
    padding: 0
}

ul.doc-child li {
    color: #2d3c57;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0 10px 15px;
    text-indent: -14px
}

ul.doc-child li:before {
    background: url(../img/ic_list_1.png) no-repeat 0 0;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 5px
}

.block-caution.doc-child {
    background: #fff6f5;
    border: 1px dashed #cd3f2f;
    margin: 20px 0;
    padding: 15px 20px;
    width: 100%
}

.block-caution.doc-child .title {
    color: #cd3f2f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.block-caution.doc-child p {
    color: #cd3f2f;
    font-size: 16px;
    font-weight: 300
}

.block-reference.doc-child {
    background: #f5fdff;
    border: 1px dashed #00a0e3;
    margin: 20px 0;
    padding: 15px 20px;
    width: 100%
}

.block-reference.doc-child .title {
    color: #00a0e3;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.block-reference.doc-child p {
    color: #00a0e3;
    font-size: 16px;
    font-weight: 300
}

.block-info.doc-child {
    background: #fffcf5;
    border: 1px dashed #da9215;
    margin: 20px 0;
    padding: 15px 20px;
    width: 100%
}

.block-info.doc-child .title {
    color: #da9215;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.doc-child.block-info p {
    color: #da9215;
    font-size: 16px;
    font-weight: 300
}

.block-important.doc-child {
    background: #f5fff8;
    border: 1px dashed #179f24;
    margin: 20px 0;
    padding: 15px 20px;
    width: 100%
}

.block-important.doc-child .title {
    color: #179f24;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.block-important.doc-child p {
    color: #179f24;
    font-size: 16px;
    font-weight: 300
}

.pinBoot ul li a, .pinBoot ul li ul li a, .version-switcher span, .white-panel ul li a, .white-panel ul li ul li a {
    color: #2d3c57
}

.action-btn span:hover, .action-buttons a:hover {
    text-decoration: none
}

.minor-version-tabs li.active a, .minor-version-tabs li.active a:hover {
    background: #fff;
    color: #00a0e3
}

.role-developers, .role-sysadmin {
    background: #33cc6a;
    border: 1px solid #139541;
    color: #fff
}

code, pre {
    overflow-x: auto !important
}

pre, pre code {
    text-indent: 0;
    white-space: pre !important
}

.hljs {
    background-color: transparent;
    overflow-x: auto !important;
    width: 100% !important
}

.bs-docs-sidebar.affix {
    position: static
}

.bs-docs-sidul {
    margin-bottom: 20px;
    margin-top: 20px
}

.bs-docs-sidebar ul > li > a {
    color: #767676;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 0 4px 20px
}

.bs-docs-sidebar ul > li > a:focus, .bs-docs-sidebar ul > li > a:hover {
    color: #333;
    text-decoration: none
}

.bs-docs-sidebar ul > .active {
    background-color: transparent;
    color: #333;
    font-weight: 700
}

.bs-docs-sidebar ul .active li {
    border-right-width: 0
}

@-webkit-keyframes a {
    0% {
        color: #777
    }
    to {
        color: hsla(0, 0%, 47%, .33)
    }
}

@keyframes a {
    0% {
        color: #777
    }
    to {
        color: hsla(0, 0%, 47%, .33)
    }
}

.bs-docs-sidebar ul .active > a:before {
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-name: a;
    animation-name: a;
    color: hsla(0, 0%, 47%, .33);
    content: "\f30b";
    float: left;
    font-family: Font Awesome\ 5 Free;
    font-size: 14px;
    font-weight: 900;
    margin-left: -24px
}

.bs-docs-sidebar ul ul {
    display: none;
    padding-bottom: 10px
}

.bs-docs-sidebar ul ul > li > a {
    color: #767676;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-top: 1px
}

.bs-docs-sidebar ul ul > .active > a {
    font-weight: 900
}

.back-to-top, .bs-docs-theme-toggle {
    display: none;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0 10px
}

.back-to-top.light {
    color: #999;
    font-weight: 400
}

a.back-to-top.sister {
    font-size: inherit;
    font-size: smaller;
    line-height: normal
}

.bs-docs-sidenav.sister > li.active > a, .bs-docs-sidenav.sister > li > a, .bs-docs-sidenav.sister > li > a:hover {
    padding: 0 0 0 35px
}

.back-to-top:hover, .bs-docs-theme-toggle:hover {
    color: #333;
    text-decoration: none
}

.nobottommargin {
    margin-bottom: 0
}

.bottommargin {
    margin-bottom: 30px
}

.bs-docs-theme-toggle, .notopmargin {
    margin-top: 0
}

.btn-clipboard {
    background-color: #ccc;
    border: 1px solid #ccc;
    opacity: .75;
    right: 0;
    top: 0
}

.navbar-toggle .icon-bar {
    background-color: #2d3c57
}

.bs-docs-nav .navbar-toggle .icon-bar {
    color: #333
}

.document-content h2 {
    margin-top: 40px
}

.document-content h3 {
    color: #2d3c57;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px
}

.document-content h4 {
    color: #00a0e3;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px
}

.document-content h5 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px
}

.document-content ol {
    counter-reset: b;
    list-style: none;
    margin-bottom: 30px;
    padding: 0
}

.document-content ol li {
    margin: 10px 0 10px 40px;
    text-indent: -40px
}

.document-content ol.doc-child li {
    color: #2d3c57;
    counter-increment: a;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0
}

.document-content ol > li:before {
    background-color: #00a0e3;
    border-radius: 20px;
    color: #fff;
    content: counters(b, ".");
    counter-increment: b;
    font-size: 15px;
    font-weight: 300;
    margin-right: 15px;
    padding: 3px 8px
}

.document-content ul {
    list-style: none;
    margin-bottom: 30px;
    padding: 0
}

.document-content ul li {
    color: #2d3c57;
    margin: 0 0 5px 15px;
    text-indent: -14px
}

.document-content ul li:before {
    background: url(../img/ic_list_1.png) no-repeat 0 0;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 5px
}

hr {
    background: none;
    border: 0;
    height: 1px;
    margin: 44px 0;
    position: relative
}

hr:after {
    border-top: 1px dashed #dbdbdb;
    content: "";
    display: block;
    height: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%
}

code {
    font-size: 80%
}

#documentation-child-content img, .doc-description img, .simplebox img {
    height: auto;
    max-width: 100%
}

#documentation-child-content .action-btn img {
    display: inline
}

div#documentation-level {
    margin-bottom: 30px;
    margin-top: 180px
}

.navbar-collapse {
    background-color: #fff
}

.dropdown-submenu .dropdown-menu {
    display: none
}

.bs-docs-sidebar strong {
    display: block;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 20px
}

li div, li table, ol li code, ol li span.btn-clipboard {
    text-indent: 0
}

.document-content, .document-content p {
    margin-bottom: 15px
}

.document-content img, .embed-responsive {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .1)
}

.document-content img.noshadow {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.margintop {
    margin-top: 200px
}

#custom-search-input {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    padding: 3px
}

#custom-search-input input {
    border: 0;
    box-shadow: none
}

#custom-search-input button {
    background: none;
    color: #666;
    margin: 2px 0 0;
    padding: 0 8px 0 10px
}

#custom-search-input button, #custom-search-input button:hover {
    border: 0;
    border-left: 1px solid #ccc;
    box-shadow: none
}

#custom-search-input .glyphicon-search {
    font-size: 23px
}

.dropdown-menu {
    min-width: 250px
}

ul.nav.bs-docs-sidenav.sister {
    padding-bottom: 8px
}

.documentation-header h1 span {
    color: #2d3c57;
    display: block;
    font-size: .6em;
    text-transform: uppercase
}

#main {
    margin-top: 126px
}

#documentation-level a[href^="http://"]:after, #documentation-level a[href^="https://"]:after {
    color: #ccc;
    content: "\f35d";
    font-family: Font Awesome\ 5 Free;
    font-size: smaller;
    font-style: normal;
    font-weight: 900;
    margin: 0 0 0 5px;
    text-decoration: none
}

#documentation-level a.btn:after {
    content: "";
    margin: 0
}

div.image {
    display: inline-block;
    position: relative
}

div.image:hover img {
    opacity: .75
}

div.image a {
    bottom: 0;
    color: inherit;
    color: #999;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 2px 2px 3px #ddd
}

div.image:hover a {
    opacity: .75;
    top: 0;
    z-index: 1
}

div.image:hover a span {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

*, :after, :before {
    box-sizing: border-box !important
}

.row.masonry {
    -moz-column-gap: 4px;
    -webkit-column-gap: 4px;
    -moz-column-width: 20em;
    -webkit-column-width: 20em
}

.row.masonry > .col-md-4, .row.masonry > .col-sm-6, .row.masonry > .col-xs-12 {
    display: inline-block;
    float: none;
    margin: 5px 5px 0;
    padding: 0;
    width: 100%
}

.alert {
    border-radius: 0;
    margin: 20px 0;
    padding: 15px 20px;
    width: 100%
}

.alert-success {
    background: #f5fff8;
    border: 1px dashed #179f24;
    color: #179f24
}

.alert-info {
    background: #f5fdff;
    border: 1px dashed #00a0e3;
    color: #00a0e3
}

.alert-danger {
    background: #fff6f5;
    border: 1px dashed #cd3f2f;
    color: #cd3f2f
}

.alert-warning {
    background: #fffcf5;
    border: 1px dashed #da9215;
    color: #da9215
}

a#decfont, a#incfont {
    color: #ccc;
    font-family: initial;
    font-size: 22px;
    font-style: italic;
    padding-left: 20px
}

a#decfont {
    font-size: 16px;
    padding-left: 5px
}

td.hljs-ln-numbers {
    border-right: 1px solid #ccc;
    color: #ccc
}

.hljs-ln-line.hljs-ln-n {
    padding-right: 8px;
    text-align: right
}

td.hljs-ln-code {
    padding-left: 10px !important;
    width: 100%
}

.hljs {
    padding: 0 .5em
}

pre {
    overflow-x: hidden !important;
    padding: 5px
}

table.hljs-ln {
    width: 100%
}

.hljs-ln tr:hover {
    background-color: #e9e9e9
}

.alert-version {
    background: hsla(0, 0%, 90%, .1);
    border: 1px dashed #e5e5e5;
    border-radius: 6px;
    color: #777
}

.alert-version .smaller {
    font-size: smaller
}

.stacktable {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    width: 100%
}

div.stacktables :last-child {
    border-bottom-width: 0
}

.stacktable .st-head-row-main, .stacktable .st-key, .stacktable .st-val {
    border-top-width: 0
}

.stacktable.large-only {
    display: table
}

.stacktable.small-only {
    display: none
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif
}

.main-title.doc-child {
    color: #00a0e3;
    font-size: 40px;
    line-height: 1.2
}

.h1, .h2, .h3, h1, h2, h3 {
    color: #00a0e3;
    margin-bottom: 30px
}

.btn-link {
    color: hsla(0, 0%, 47%, .75)
}

nav.bs-docs-sidebar > ul > li > a:focus, nav.bs-docs-sidebar > ul > li > a:hover {
    background-color: transparent
}

.mt20 {
    margin-top: 20px
}

.tableFloatingHeaderOriginal {
    background: #fff
}

.mt30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: -35px
}

.p20 {
    padding: 20px
}

.pb30 {
    padding-bottom: 30px
}

.pt30 {
    padding-top: 30px
}

.product, .r5 {
    border-radius: 5px
}

.product {
    background: #fff;
    margin-bottom: 30px;
    transition: all .15s ease-in-out
}

.col-md-4 .product:hover {
    background: #fafafa
}

.product .bg {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.product .content {
    padding: 38px
}

.product .content, .product .content a {
    color: #2d3c57
}

.product ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0
}

.btn-primary {
    background-color: #00a0e3;
    border-color: #0090cc;
    border-radius: 2px;
    color: #fff
}

.search {
    display: inline
}

.search input[type=text] {
    margin-left: -16px;
    padding-left: 35px
}

.search:before {
    color: hsla(0, 0%, 47%, .75);
    content: "\f002";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    left: 15px;
    position: relative
}

.search .btn {
    margin-top: -3px
}

a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden
}

#academy-navbar-collapse-1 > ul > li > a {
    color: #505050
}

.product .fa-li {
    top: .4em
}

.bg-light {
    background: #ededed
}

.bg-dark {
    background: #58595b
}

.text-light, .text-light a {
    color: #e8e8e8 !important
}

.text-white, .text-white a {
    color: #fff !important
}

.text-light a:hover, .text-white a:hover {
    text-decoration: underline
}

.breadcrumb-nav li.dropdown:before {
    content: "";
    display: none;
    padding: 0
}

.product img {
    height: 80px;
    max-height: 80px
}

span.searchHighlightedText {
    background: none !important;
    font-size: inherit !important;
    font-weight: inherit !important
}

.resultsList li {
    list-style: none !important
}

.resultsList ul {
    padding: 0 !important
}

.kb .tags {
    font-size: smaller
}

.document-content ul.fa-ul li:before {
    background: none
}

.simplebox {
    background-color: #fff;
    background: #fff !important;
    border: 1px solid rgba(196, 209, 215, .3) !important;
    border-radius: 2px;
    box-shadow: 2px 2px 0 0 rgba(0, 73, 103, .2);
    box-shadow: 2px 2px 2px #c4d1d7 !important;
    margin-top: 30px;
    padding: 35px
}

.bluebg {
    background-color: #f6fafc;
    background-color: #f6fafd;
    padding: 30px 0
}

.nav-tabs {
    border-width: 0
}

.nav-tabs li {
    margin-bottom: 15px;
    margin-right: 15px
}

.nav-tabs a {
    background: #fff;
    border: 1px solid rgba(196, 209, 215, .3) !important;
    border-radius: 2px;
    border-radius: 3px !important;
    box-shadow: 2px 2px 0 0 rgba(0, 73, 103, .2);
    box-shadow: 2px 2px 2px #c4d1d7;
    color: rgba(0, 73, 103, .5);
    color: #8d9fac;
    transition-duration: .2s
}

.nav-tabs li.active a {
    border: 1px solid #00a0e3;
    border: 1px solid #209fda !important;
    color: #2d3c57;
    color: #002839
}

html {
    font-family: Lato, sans-serif !important;
    font-size: 18px
}

h1 {
    font-size: 2.44em
}

h1, h2 {
    color: #023951 !important;
    font-family: Lato, sans-serif;
    font-weight: 500
}

h2 {
    font-size: 1.944em;
    line-height: 1.5
}

h3 {
    font-size: 1.223em;
    margin: 1.223em 0
}

h3, h4 {
    color: #023951 !important;
    font-family: Lato, sans-serif;
    font-weight: 500;
    line-height: 1.4
}

h4 {
    margin: .888em 0
}

.doc-child .main-title {
    font-size: 2.44em;
    font-weight: 500;
    line-height: 3.6
}

h5 {
    font-weight: 500;
    line-height: 1.4;
    margin: .666em 0
}

a {
    color: #209fda;
    transition-duration: .2s
}

table {
    margin: 1.8em 0
}

.doc-child .main-title > span, .ghost {
    color: #8d9fac
}

.btn-link {
    color: #3baade;
    transition-duration: .2s
}

.logo {
    height: 40px
}

.navbar {
    border: 1px solid rgba(196, 209, 215, .3) !important
}

.alert {
    border-radius: 3px
}

.nav-tabs li.active a:focus {
    border: 1px solid #209fda !important;
    color: #002839
}

.nav-tabs li a:hover {
    background-color: #f9fbfd
}

ul.lastdoc {
    padding-left: 0
}

ul.lastdoc li {
    list-style-type: none
}

#documentation-level .row {
    position: relative
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #209fda
}

#sidebar {
    margin-top: 25px
}

#sidebar li {
    margin-bottom: 0
}

a[aria-expanded=false] .fa-angle-up, a[aria-expanded=true] .fa-angle-down {
    display: none
}

.h1, .h2, .h3, .h4, .h5, .main-title. doc-child {
    color: #023951 !important;
    font-family: Lato, sans-serif
}

.navbar-nav > li > a, .simplebox > h1 > a, .simplebox > h2 > a, .simplebox > h3 > a, .simplebox > h4 > a, .simplebox > h5 > a {
    color: #023951 !important
}

li, p, td {
    color: #002839;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: .8em
}

.text_small, small {
    font-size: .8em
}

.alert-version, .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f6fafd
}

.footer, .footer-2 {
    background-color: #002839
}

.footer-2 > p, .footer > p, button .btn :hover {
    color: #fff
}

button .btn, button .btn-primary {
    background-color: #209fda !important;
    box-shadow: 2px 2px 2px #c4d1d7 !important;
    color: #fff;
    height: 46px
}

h4.running {
    color: #00a0e3;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 16px
}

.whatsnew h4 {
    background: #eaedef;
    border-radius: 50px;
    color: #000 !important;
    display: inline-block;
    margin-top: 4px;
    padding: 6px 14px;
    position: relative
}

.whatsnew.new:not(.module) h4:after {
    background: #ffc107;
    border-radius: 2px;
    content: "New";
    font-size: 11px;
    font-weight: 780;
    padding: 2px 5px;
    position: absolute;
    right: -45px;
    top: 0;
    visibility: visible
}

.whatsnew.new h4:after {
    visibility: hidden
}

.whatsnew.current h4 {
    background: #00a0e3;
    color: #fff !important
}

.whatsnew.module.new h4 span {
    background: #f44336;
    border-radius: 2px;
    color: #fff;
    display: inline;
    font-size: 11px;
    font-weight: 600;
    padding: 2px 5px;
    position: absolute;
    right: -120px;
    top: 0
}

.whatsnew.module h4 span {
    display: none
}

.whatsnew h5 {
    border-bottom: 1px dashed #ddd;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
    margin-top: 22px;
    text-transform: uppercase
}

.col_full .whatsnew li:before, .portfolio-single-content .whatsnew li:before {
    content: "\2022\00a0\00a0\00a0"
}

.whatsnew {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 0;
    padding: 12px
}

.whatsnew.current {
    border: 2px solid #00a0e3
}

.whatsnew .description {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 30px
}

ul.topPages {
    list-style-type: none;
    padding-left: 0
}

ul.topPages li a {
    padding-left: 0 !important
}

ul.topPages li a:after {
    content: "\f061" !important;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    padding-left: 5px
}

@media (max-width: 1200px) {
    .action-wrapper {
        float: none
    }

    #left-toc-sidebar ul {
        border: 1px solid #dadde4;
        margin-top: 80px;
        padding: 4px 20px 20px;
        position: relative;
        width: 290px
    }

    .action-wrapper {
        border: 1px solid #dadde4;
        float: right;
        margin: 0;
        padding: 0;
        width: 100%
    }

    .action-buttons {
        border-top: 1px solid #dadde4;
        width: 100% !important
    }

    .documentation-header {
        border-bottom: none
    }

    .version-switcher {
        border-right: none
    }
}

@media (min-width: 992px) {
    .row-eq-height {
        display: flex
    }

    .row-eq-height > [class*=col-] {
        display: flex;
        flex-direction: column
    }

    .row-eq-height .simplebox {
        height: 100%
    }

    bs-docs-sidebar ul > .active > ul {
        display: block
    }

    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
        width: 213px
    }

    .bs-docs-sidebar.affix {
        top: 20px
    }

    .bs-docs-sidebar ul > .active > ul {
        display: block
    }

    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
        width: 323px
    }

    .bs-docs-sidebar.affix {
        position: fixed;
        top: 195px
    }

    .bs-docs-sidebar.affix-bottom {
        position: absolute
    }

    .bs-docs-sidebar.affix-bottom .bs-docs-sidul, .bs-docs-sidebar.affix .bs-docs-sidul {
        margin-bottom: 0;
        margin-top: 0
    }
}

@media (max-width: 992px) {
    .breadcrumb li {
        display: none
    }

    .breadcrumb li:nth-last-child(-n+3) {
        display: inline
    }

    .col-md-8 .product, .product {
        height: auto !important
    }

    .action-wrapper {
        display: none
    }
}

@media screen and (min-width: 768px) {
    #home-grid-row a.home-grid-element {
        display: block;
        width: 100%
    }
}

@media (max-width: 768px) {
    .training-sidebar {
        box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        margin-top: 90px
    }

    .navbar-shadow {
        background: #f5f5f5;
        box-shadow: none;
        -webkit-transition: all .75s;
        -moz-transition: all .75s;
        -ms-transition: all .75s;
        -o-transition: all .75s
    }

    #home-grid-row {
        text-align: center
    }

    body {
        margin-bottom: 0
    }

    .footer-2 {
        position: relative
    }

    .stacktable.large-only {
        display: none
    }

    .stacktable.small-only {
        display: table
    }

    .version {
        border-radius: 3px;
        font-size: 12px;
        line-height: 1.5;
        padding: 5px 10px
    }

    .alert-version {
        background: hsla(0, 0%, 90%, .1);
        border: 1px dashed #e5e5e5;
        color: #777;
        padding: 10px
    }
}

@media (max-width: 998px) {
    .doc-description .doc-info {
        border-bottom: 1px dashed #dadde4;
        border-right: none
    }

    .documentation-list-wrapper .doc-list {
        padding: 10px 35px
    }

    .documentation-list-wrapper {
        margin-top: 20px
    }

    .btn-blue {
        display: block
    }
}

@media (max-width: 977px) {
    .training-sidebar {
        box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        margin-top: 90px
    }

    .card, .card:hover {
        box-shadow: none;
        margin-top: 100px
    }

    ul.documentation {
        margin-top: 50px
    }

    #home-grid-row, #home-grid-row a.home-grid-element {
        display: inline-block;
        text-align: center
    }

    #home-grid-row a.home-grid-element {
        background: hsla(0, 0%, 100%, .85);
        border-radius: 3px;
        box-shadow: 0;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        margin: 11px;
        padding: 50px 30px;
        position: relative;
        text-decoration: none;
        transition: all .75s;
        width: 45%
    }
}

@media (max-width: 900px) {
    #documentation-level {
        padding-bottom: 80px;
        padding-top: 0
    }
}

@media screen and (max-width: 992px) {
    .headroom--pinned {
        display: block;
        transform: translateY(0)
    }

    .headroom--unpinned {
        display: none;
        transform: translateY(-100%)
    }

    .headroom {
        transition: transform .2s linear;
        will-change: transform
    }
}

@media screen and (max-width: 768px) {
    ul.minor-version-tabs {
        float: none;
        padding-right: 0;
        text-align: center
    }

    ul.minor-version-tabs li {
        display: block;
        float: none;
        margin: 0
    }

    ul.minor-version-tabs li a {
        margin: 0
    }

    .minor-version-tabs li.active a {
        color: #00a0e3
    }
}

@media (min-width: 768px) {
    .bs-docs-sidebar {
        padding-left: 20px
    }

    .back-to-top, .bs-docs-theme-toggle {
        display: block
    }
}

@media (min-width: 1200px) {
    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
        width: 263px;
        width: 362px
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1570px
    }

    body {
        font-size: 16px
    }

    .back-to-top, .bs-docs-theme-toggle {
        font-size: 13px
    }

    .bs-docs-sidebar ul > li > a, pre {
        font-size: 15px
    }
}

@media (max-height: 900px) {
    .bs-docs-sidebar.affix {
        max-height: 590px;
        overflow: auto
    }
}

@media (max-height: 768px) {
    .bs-docs-sidebar.affix {
        max-height: 540px;
        overflow: auto
    }
}

@media screen and (max-width: 1600px) {
    .product img {
        height: 60px;
        max-height: 60px
    }
}

@media screen and (max-width: 1200px) {
    .product img {
        height: 55px;
        max-height: 55px
    }
}
