$list-puce-size: 22px;

.jac-main {
  line-height: 1.6;
}

.jac-content {
  padding-top: spacing(5);

  .blue {
    color: $primary;
  }

  // -------
  // Headings
  // -------
  h6,
  .h6,
  h5,
  .h5,
  h4,
  .h4,
  h3,
  .h3,
  h2,
  .h2,
  h1,
  .h1 {
    margin-top: spacing(5);
  }

  // -------
  // List
  // -------
  ol,
  ul {
    list-style: none;
  }

  li:not(.nav-item) {
    position: relative;
    margin-bottom: spacing(3);
  }

  ol {
    counter-reset: b;
    list-style: none;

    > li {
      &::before {
        display: inline-block;
        background-color: $primary;
        border-radius: 20px;
        border-radius: $border-radius-pill;
        color: $white;
        content: counters(b, ".");
        counter-increment: b;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        height: $list-puce-size;
        min-width: $list-puce-size;
        line-height: $list-puce-size;
        position: absolute;
        top: 4px;
        left: calc(($list-puce-size + 10px) * -1);
      }
    }
  }

  ul:not(.fa-ul, .nav-tabs) {
    & > li::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 4px;
      left: calc(($list-puce-size + 5px) * -1);
      height: $list-puce-size;
      width: $list-puce-size;
      background-image: $chevron-right;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  // -------
  // Snippet
  // -------
  p code {
    background-color: $gray-100;
    padding: 4px;
    border-radius: $border-radius;
  }

  pre {
    white-space: pre;
    padding: spacing(3);
    background-color: $gray-100;
    border: 0;
    border-radius: $border-radius;

    code {
      background-color: transparent;
    }
  }

  // -------
  // Images
  // -------
  figure {
    display: block;
    margin: spacing(4) 0;
  }
}
