$bd-primary-bright: lighten(saturate($primary, 5%), 15%);
$site-header-height: 83px;
$dark-fuchsia: #d6217d;

html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;

  .container-xxl.container-start {
    margin-left: 0 !important;
  }

  main {
    position: relative;
    background-color: white;

    .sticky-top {
      z-index: 100;
      top: $site-header-height;
    }

    .bg-left {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
    }

    img {
      max-width: 100%;
    }
  }

  #article {
    position: relative;
  }

  .book a,
  .breadcrumb-item a,
  .accordion-button {
    text-decoration: none;
  }
}

.hljs {
  padding: 0 0.5em;

  &-line-numbers {
    text-align: right;
    border-right: 1px solid #ccc;
    color: #999;
    -webkit-touch-callout: none;
    user-select: none;
  }

  &-ln-line.hljs-ln-n {
    min-width: 30px;
    padding-right: 8px;
    text-align: right;
  }

  td &-ln-numbers {
    border-right: 1px solid #ccc;
    color: #ccc;
  }

  td &-ln-code {
    padding-left: 10px !important;
    width: 100%;
  }
}

.bd-clipboard {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }

  .btn-clipboard {
    position: absolute;
    top: 0.65rem;
    right: 0.65rem;
    z-index: 10;
    display: block;
    padding: spacing(1) spacing(2);
    color: $secondary;
    background-color: $white;
    border: 1px solid;
    border-radius: $border-radius;

    &:hover,
    &:focus {
      color: $white;
      background-color: $primary;
    }
  }
}

@include media-breakpoint-up(md) {
  .row-eq-height {
    display: flex;

    > [class*="col-"] {
      display: flex;
      flex-direction: column;
    }

    .simplebox {
      height: 100%;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.jahia-badge {
  padding-bottom: 1rem !important;

  .badge {
    font-weight: $font-weight-normal !important;
    padding: 0.2em 0.7em !important;
    background-color: #178eca !important;
    color: #f6fafd !important;
    margin-right: 0.5rem !important;

    &.jahia {
      background-color: rgb(99, 209, 255, 0.4) !important;
      color: #004781 !important;
    }

    &.jexperience {
      background-color: rgb(112, 24, 224, 0.2) !important;
      color: #293136 !important;
    }

    &.persona {
      background-color: rgb(218, 218, 218, 0.4) !important;
      color: #004781 !important;
    }
  }
}

// ... Previous styles ...

.btn-primary {
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-dark-fuchsia {
  color: $white;
  background-color: $dark-fuchsia;
  border-color: $dark-fuchsia;

  &:hover,
  &:active,
  &.active {
    color: $white;
    background-color: darken($dark-fuchsia, 10%);
    border: 1px solid darken($dark-fuchsia, 10%);
  }
}

a[aria-expanded="false"] .fa-angle-up,
a[aria-expanded="true"] .fa-angle-down {
  display: none;
}

.nav-tabs {
  border-bottom: none;
  margin-top: spacing(3);
  margin-bottom: spacing(3);

  .nav-link {
    color: $gray-600;
    font-size: larger;
    font-weight: bold;
    padding: 0 0 spacing(3);
    margin-right: spacing(5);
    border: none;

    &:hover,
    &:focus {
      color: $primary;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }

    &.active,
    .nav-item.show & {
      color: $primary;
      border-bottom: 2px solid $primary;
      background-color: transparent;
    }
  }
}

.nav-item,
.dropdown-item {
  > a {
    color: rgba($black, 0.85);
  }

  &.active {
    > a {
      color: $primary;
    }
  }

  &.active > a {
    color: $white;
  }
}

.bluebg {
  background-color: $light;
  padding-top: spacing(4);
  padding-bottom: spacing(4);
}

.simplebox {
  padding: spacing(4);
  margin-top: spacing(4);
  background-color: $body-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow-sm;
}

.darkblue {
  background-color: $darkblue;
  padding-top: spacing(4);
  padding-bottom: spacing(4);
  padding-left: spacing(3);

  .nav-underline {
    --#{$prefix}nav-underline-link-active-color: #{$nav-underline-link-active-color};
    gap: var(--#{$prefix}nav-underline-gap);

    .nav-link {
      color: rgba($white, 0.6);
      font-size: larger;
      font-weight: bold;
      padding: 0 spacing(2) spacing(2) spacing(2);
      margin: 0 spacing(3) 0 0;

      &:hover,
      &:focus {
        color: rgba($white, 0.6);
        border-bottom-color: rgba($white, 0.6);
      }

      &.active,
      .show > & {
        color: $white;
        border-bottom-color: $white;
      }
    }
  }

  .dropdown-item.product {
    font-size: .8rem;
    font-weight: 900;
  }
}


